{% extends 'base.html.twig' %}

{% block title 'Service Housing' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
		  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
		  crossorigin=""/>

	<style>
        #map { width: 300px; height: 200px; }
	</style>
{% endblock %}

{% block scripts %}
	<!-- Make sure you put this AFTER Leaflet's CSS -->
	<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			crossorigin=""></script>

	<script>
		{% set dc = service.datacenter %}
		const map = L.map('map').setView([{{ dc.coordinates.getPoint() }}])

		L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
		}).addTo(map);

		const marker = L.marker([{{ dc.coordinates.getPoint() }}]).addTo(map);
	</script>
{% endblock %}

{% block body %}
	<h1 class="ui header">Collocation</h1>

	<div class="ui grid">
		<div class="ten wide column">
			<p>Nombre de U : {{ service.space_reserved }}</p>
			<p>Liste des options :</p>
			<ul>
				{% for opt in service.options %}
					<li>Option &laquo; {{ opt.name }} &raquo; {% if opt.quantity > 1 %}(x {{ opt.quantity }}{% endif %} - Détails : {{ opt }}</li>
				{% endif %}
			</ul>
		</div>
		<div class="six wide column">
			<div id="map"></div>
			<p>{{ dc.name }}</p>
			<p>{% if not dc.has_certificate %}Equivalent{% endif%} {{ dc.tier }}</p>
		</div>
	</div>
{% endblock %}
